<footer class="footer-main">
    <div class="footer-bg">
        <div class="footer-holder">
            <div class="row justify-content-center back-to-top bg-btt" style="z-index: 10000;">
                <button class="back-to-top">
                    <a href="#s0" class="d-block" style="z-index: 10000;position: relative">
                        <img src="{{ site.theme.link }}/img/icon_to_top.png" alt="">
                    </a>
                </button>
            </div>
            <div class="container ">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-8 col-sm-6 mt-2">
                        <div class="row">
                            <nav class="col-6 mt-2 col-lg-3 col-md-6 col-sm-12 footer-menu">
                                <h5 class="title">Navigatie:</h5>
                                {{ footer_1_widget }}
                            </nav>
                            <nav class="col-6 mt-2 col-lg-3 col-md-6 col-sm-12 footer-menu">
                                <h5 class="title">Het plan:</h5>
                                {{ footer_2_widget }}
                            </nav>
                            <nav class="col-6 mt-2 col-lg-3 col-md-6 col-sm-12 footer-menu">
                                <h5 class="title">Omgeving:</h5>
                                {{ footer_3_widget }}
                            </nav>
                            <nav class="col-6 mt-2 col-lg-3 col-md-6 col-sm-12 footer-menu">
                                <h5 class="title">De villa's:</h5>
                                {{ footer_4_widget }}
                            </nav>
                        </div>
                    </div>
                    <div class="col-12 mt-5 mt-sm-2 col-lg-6 col-md-4 col-sm-6">
                        <div class="row">
                            <span class="col-6 mt-2 col-lg-4 col-md-12 footer-logo">
                                <h5>Ontwikkeling:</h5>
                                <div class="helper">
                                    <img src="{{ site.theme.link }}/img/Footer/DPH_footer_logo.svg" alt="DPH logo" style="width:100%;">
                                </div>
                                <h6>Duyn Parc Hellevoets B.V.</h6>
                            </span>
                            <a href="https://bhvkleisure.com/" class="col-6 mt-2 col-lg-4 col-md-12 footer-logo">
                                <h5>Verhuur:</h5>
                                <div class="helper" style="max-width:130px;">
                                    <img src="{{ site.theme.link }}/img/Footer/Logo-BHVK.png" alt="BHVK logo" style="width:100%;">
                                </div>
                                <h6>bhvkleisure.com</h6>
                            </a>
                            <a href="https://www.roompotrealestate.com/"
                               class="col-6 mt-2 col-lg-4 col-md-12 footer-logo">
                                <h5>Verkoop:</h5>
                                <div class="helper" style="max-width:80px;">
                                    <img src="{{ site.theme.link }}/img/Footer/logo-white.svg" alt="Roompot logo" style="width:100%;">
                                </div>
                                <h6>roompotrealestate.com</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 mt-2">
                <div class="container mb-4 footer-social">
                    {% if social_media_menu is not empty %}
                        <div class="social-menu">
                            {{ social_media_menu }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below text-center">
        <div class="container">
            <div class="d-inline-block">
                <div class="mt-2 mb-2 copyright-text">© Copyright {{ "now"|date("Y") }} Duyn Parc Hellevoetsluis
                    <a> | </a>
                    <a href="https://dph.graphicsetctrial.nl/wp-content/uploads/2022/03/DPH_disclaimer.pdf" title="Disclaimer" target="_blank">Disclaimer</a>
                    <a> | </a>
                    <a href="https://dph.graphicsetctrial.nl/wp-content/uploads/2022/03/DPH_privacyverklaring.pdf" title="Privacy statement" target="_blank">Privacy
                        statement</a>
                    <a> | </a>
                    <a href="https://graphicsetc.nl/" title="Graphics Etc" target="_blank">Webdesign: Graphics
                        Etc.</a>
                </div>
            </div>
        </div>
    </div>
</footer>