{% if block.news is not empty %}
{% set item = block.news %}
<div class="container image-text-holder{% if block.image_position == "right"%} image-right{% else %} image-left{% endif %}">
	<div class="block-holder">
		<div class="container-fluid p-0">
			<div class="row no-gutters h-100">
				<div class="col-12 col-lg-6 {% if block.image_position == "right"%}order-lg-1{% else %}order-lg-2{% endif %} order-2">
					<div class="content-holder h-100">
						<div class="inner-content my-auto">
							<div class="date">
								{{ item.post_date|date("m.d.y") }}
							</div>
							<div class="title-holder title-holder-news-single">
								<h2 class="h2">{{ item.post_title }}</h2>
							</div>
							<div class="text">
								{{ item.post_content|truncate(60) }}
							</div>
							<div class="block-button">
								<a href="{{ TimberPost(item.ID).link }}" class="btn btn-black">Lees verder</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 order-1 {% if item.image_position == "right"%}order-lg-2{% else %}order-lg-1{% endif %}" style="position:relative;">
					{% if fn("get_the_post_thumbnail_url", item.ID) is not empty %}
					<div class="image-holder h-100">
						<div class="img h-100">
							<img class="fluid h-100" src="{{ TimberImage(fn("get_the_post_thumbnail_url", item.ID))|resize(600,400)  }}"/>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}