<div class="block-holder">
    <div class="hotspots-holder">
        <div class="container">
            <div class="row justify-content-center">
                {% if block.hotspots|length == 3 %}
                    {% for item in block.hotspots %}
                        <div class="{% if loop.index == 1 %}col-12 col-lg-8 {% elseif loop.index == 3 %}col-12{% else %}col-12 col-lg-4{% endif %}">
                            {% include "components/link.twig" with {"url" : item, "class": "hotspot"} %}
                            <div class="image-holder">
                                {% if item.image is not empty %}
                                    {% if loop.index == 1 %}
                                        <img class="img-fluid" src="{{ TimberImage(item.image).src|resize(730,350, 'center') }}"/>
                                    {% elseif loop.index == 3 %}
                                        <img class="img-fluid" src="{{ TimberImage(item.image).src|resize(1150,420, 'center') }}"/>
                                    {% else %}
                                        <img class="img-fluid" src="{{ TimberImage(item.image).src|resize(350,350, 'center') }}"/>
                                    {% endif %}
                                {% else %}
                                    <img class="img-fluid" src="{{ site.theme.link }}/img/no-image.jpg"/>
                                {% endif %}
                            </div>
                            <div class="content">
                                {%  if(item.title != "") %}
                                    <div class="title">
                                        <h2 class="h2">{{ item.title }}</h2>
                                    </div>
                                {% endif %}
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for item in block.hotspots %}
                    <div class="{% if loop.index == 4 %}col-12 col-lg-8 order-5 order-lg-{{ loop.index }}{% else %}col-6 col-lg-4 order-lg-{{ loop.index }}{% endif %}">
                        {% include "components/link.twig" with {"url" : item, "class": "hotspot"} %}
                            <div class="image-holder">
                                {% if item.image is not empty %}
                                {% if loop.index == 4 %}
                                <img class="img-fluid" src="{{ TimberImage(item.image).src|resize(730,350, 'center') }}"/>
                                {% else %}
                                <img class="img-fluid" src="{{ TimberImage(item.image).src|resize(350,350, 'center') }}"/>
                                {% endif %}
                                {% else %}
                                <img class="img-fluid" src="{{ site.theme.link }}/img/no-image.jpg"/>
                                {% endif %}
                            </div>
                            <div class="content">
                            {%  if(item.title != "") %}
                                <div class="title">
                                    <h2 class="h2">{{ item.title }}</h2>
                                </div>
                            {% endif %}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>